// Fonts
$lato:         'Lato', sans-serif;
$titillium:    'Titillium Web', sans-serif;
$inter:        'Inter', sans-serif;
$material:     'Material Icons';
// Colors
$primary:      #F7931D;
$secondary:    #0431AA;


$white:        #ffffff;
$black:        #272727;
$black-100:    #1F1F1F;
$gray:         #FCFCFC;
$gray-100:     #F0F0F0;
$gray-200:     #F0F3F5;
$gray-300:     #DBDBDB;
$gray-400:     #656565;

$border-color:  $gray-300;
$text-color:    $black-100;