// Buttons
.btn{
    min-height: 50px;
    padding: 8px 20px;
    font-family: $inter;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .material-icons{
        margin-left: 20px;
    }
    @media (max-width:768px) {
        min-height: 40px;
        padding: 6px 15px;
        @include font-size(14);
    }
    // btn primary
    &.btn-primary{
        background-color: $primary;
        border-color: $primary;
        &:hover{
            background-color: transparent;
            color: $primary;
        }
    }
    &.btn-secondary{
        background-color: $secondary;
        border-color: $secondary;
        &:hover{
            background-color: transparent;
            color: $white;
            border-color: $white;
        }
    }
}