// 
.form-group{
    margin-bottom: 12px;
    .form-label,
    .form-check-label{
        @include font-size(14);
        color: $gray-400;
    }
    .form-control,
    .form-select{
        @include font-size(14);
    }
    .pick-up-date-time,
    .drop-of-date-time{
        background-image: url('../images/date-time.png');
        background-repeat: no-repeat;
        background-position: 95% center;
        cursor: pointer;
    }
    &.map-icon{
        .form-control{
            background-image: url('../images/map-marker.png');
            background-repeat: no-repeat;
            background-position: 95% center;
            padding-right: 26px;
        }
    }
    &.info-icon{
        .form-control{
            background-image: url('../images/info.png');
            background-repeat: no-repeat;
            background-position: 95% center;
            padding-right: 26px;
        } 
    }
    &.car-icon{
        .form-control{
            background-image: url('../images/car.png');
            background-repeat: no-repeat;
            background-position: 95% center;
            padding-right: 26px;
        } 
    }
    &.user-icon{
        .form-control{
            background-image: url('../images/icons/user.png');
            background-repeat: no-repeat;
            background-position: 10px center;
            padding-left: 36px;
        } 
    }
    &.pass-icon{
        .form-control{
            background-image: url('../images/icons/lock.png');
            background-repeat: no-repeat;
            background-position: 10px center;
            padding-left: 36px;
        } 
    }
}