.header-section{
    background-color: $secondary;
    padding: 15px 0;
    .header-left{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 150px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width:768px) {
            width: 90px;
        }
    }
    // mobile-header
    .mobile-header{
        display: none;
        margin-left: 10px;
        @media (max-width:768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a{
            color: $white;
            @include font-size(12);
            margin-right: 10px;
            text-transform: uppercase;
        }
    }
    // header-right
    .header-right{
        @media (max-width:768px) {
            @include fixed(67px,0);
            @include size(100%,100%);
            background-color: $secondary;
            display: none;
        }
    }
    // header-top
    .header-top{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15px;
        @media (max-width:768px) {
            justify-content: center;
        }
        .sub-menu{
            margin-right: auto;
            @media (max-width:768px) {
                display: none;
            }
            a{
                color: $white;
                @include font-size(12);
                margin-right: 30px;
                &:hover{
                    color: $primary;
                }
            }
        }
        
        .language{
            margin-right: 20px;
            .material-icons{
                font-size: 15px;
            }
            .dropdown-toggle{
                display: flex;
                align-items: center;
                color: $white;
                @include font-size(12);
                &:hover{
                    color: $primary;
                }
            }
        }
        .currency{
            margin-right: 30px;
            .dropdown-toggle{
                color: $white;
                @include font-size(12);
                &:hover{
                    color: $primary;
                }
            }
        }
        .search-user{
            @include display-flex(flex);
            @include align-items(center);
            .btn{
                color: $white;
                padding: 0;
                margin-left: 10px;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    // header-menu
    .header-menu{
        .main-menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:768px) {
                flex-wrap: wrap;
            }
            >li{
                >a{
                    color: $white;
                    @include font-size(12);
                    font-weight: 600;
                    &:hover{
                        color: $primary;
                    }
                }
                @media (max-width:768px) {
                    width: 100%;
                    a{
                        padding: 8px 15px;
                        border-bottom: 1px solid rgba(255,255,255,0.1);
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .dropdown-menu.show {
                display: block;
                margin-top: 13px !important;
                border-top: 2px solid $primary;
                border-radius: 0 0 4px 4px;
                @media (max-width:768px) {
                   margin-top: 0 !important;
                   width: 100%;
                }
            }
        }
    }
}