.big-header{
    padding: 120px 0;
    @media (max-width:768px) {
        padding: 50px 0;
    }
    h3{
        @include font-size(80);
        line-height: 80px;
        font-family: $titillium;
        color: $primary;
        font-weight: 700;
        margin: 0;
        position: relative;
        z-index: 99;
        @media (max-width:768px) {
            @include font-size(50);
            line-height: 50px;
            padding-top: 36px;
            margin-bottom: 40px;
        }
    }
}
// common-header
.common-header{
    .common-header-inner{
        position: relative;
        padding-left: 50px;
        .hint-title{
            @include absolute(-20px,null,null,0);
            @include font-size(80);
            line-height: 80px;
            font-family: $titillium;
            font-weight: 700;
            color: $secondary;
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: $secondary;
            opacity: 0.8;
            @media (max-width:768px) {
                @include font-size(60);
            }
        }
        .hint-subtitle{
            @include font-size(15);
            @include absolute(55px,null,null,-60px);
            color: $secondary;
            display: block;
            -webkit-transform: rotate(-90deg) translate(-50%);
            -ms-transform: rotate(-90deg) translate(-50%);
                transform: rotate(-90deg) translate(-50%);
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                    transform-origin: center;

            @media (max-width:768px) {
                @include font-size(12);
                left: -45px;
            }
        }
        .main-title{
            @include font-size(60);
            font-family: $titillium;
            font-weight: 700;
            color: $primary;
            position: relative;
            z-index: 999;
            @media (max-width:768px) {
                @include font-size(40);
            }
        }
    }
}
.common-header-2{
    position: relative;
    padding-left: 20px;
    .hint-subtitle{
        @include font-size(15);
        @include absolute(0px,null,null,-30px);
        color: $secondary;
        display: block;
        -webkit-transform: rotate(-90deg) translate(-50%);
        -ms-transform: rotate(-90deg) translate(-50%);
            transform: rotate(-90deg) translate(-50%);
            -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;

        @media (max-width:768px) {
            @include font-size(12);
            left: -20px;
        }
    }
    .main-title{
        @include font-size(60);
        font-family: $titillium;
        font-weight: 700;
        color: $primary;
        position: relative;
        z-index: 999;
        @media (max-width:768px) {
            @include font-size(40);
        }
    }
}
// hero-small
.hero-small{
    background-image: url("../images/banner-1.png");
    background-size: cover;
    height: 640px;
    margin-bottom: 250px;
    background-position: top center;
    @media (min-width:1200px) and (max-width:1440px) {
        height: 440px;
        margin-bottom: 200px;
    }
    @media (max-width:991px) {
        height: 270px;
        margin-bottom: 650px;
    }
    .booking-full{
        background-color: #fff;
        border-radius: 15px;
        padding: 40px 150px 40px 40px;
        box-shadow: 1px 14px 35px rgba(0,0,0,0.16);
        position: relative;
        bottom: -120%;
        @media (min-width:1200px) and (max-width:1440px) {
            bottom: -50%;
        }
        @media (max-width:991px) {
            bottom: -160px;
            padding: 15px;
        }
        .row {
            --bs-gutter-x: 1.5rem;
        }
        .btn-wrap{
            position: absolute;
            right: -50px;
            top: 50%;
            @include size(100px,100px);
            @include display-center;
            background-color: $white;
            border-radius: 50px;
            box-shadow: 1px 14px 35px rgba(0,0,0,0.16);
            transform: translateY(-50%);
            .btn-booking{
                @include size(60px,60px);
                border-radius: 50px;
                background-color: $secondary;
                @include display-center;
                .material-icons{
                    margin: 0;
                    color: $white;
                }
                &:hover{
                    background-color: $primary;
                }
            }
            @media (max-width:991px) {
                position: static;
                margin: 64px auto -105px auto;
            }
        }
    }
}