.hero-booking{
    height: calc(100vh - 99px);
    position: relative;
    @media (max-width:768px) {
        margin-bottom: 800px;
    }
    .hero-item{
        @include size(100%, calc(100vh - 99px));
        position: relative;
        img{
            @include size(100%, 100%);
            object-fit: cover;
        }
        .hero-item-full{
            @include absolute(0, 0);
            @include size(100%, 100%);
            padding: 100px 0 200px 0;
            display: flex;
            align-items: flex-end;
            h3{
                font-family: $titillium;
                @include font-size(90);
                line-height: 1;
                font-weight: 700;
                color: $white;
                margin-bottom: 60px;
                @media (max-width:768px) {
                    @include font-size(32);
                }
            }
            .btn-reserve{
                @include size(220px, 50px);
                background-color: $primary;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $white;
                @include font-size(15);
            }
            @media (max-width:768px) {
                h3{
                    @include font-size(32);
                    margin-bottom: 20px;
                }
            }
        }
    }
    // Owl Customize
    .owl-theme .owl-dots {
        margin: -80px auto auto auto !important;
        max-width: 1120px;
        display: flex;
        position: relative;
        @media (max-width:768px) {
            margin: -190px auto auto auto !important;
        }

        .owl-dot span {
            @include size(22px, 3px);
            background: $secondary;
            border-radius: 0;
            &:hover {
                background: $white;
            }
        }
        .owl-dot{
            &.active{
                span{
                    background: $white;
                }
            }
        }
    }
}
.hero-booking-form{
    @include absolute(null,10%,-60px,null);
    @include size(450px, auto);
    max-width: 100%;
    z-index: 9;
    background-color: $white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 20px 50px rgba(0,0,0,0.17);
    @media (max-width: 768px) {
        width: 90%;
        right: 5%;
        bottom: auto;
        top: 300px;
    }
    .booking-form{
        h3{
            font-family: $titillium;
            @include font-size(24);
            font-weight: 600;
            text-align: center;
        }
    }
    .btn-wrap{
        @include size(90px, 90px);
        @include display-center;
        @include absolute(null,null,-50px,50%);
        transform: translateX(-50%);
        border-radius: 50px;
        background-color: $white;

        .btn-booking{
            @include size(50px, 50px);
            border-radius: 40px;
            background-color: $secondary;
            color: $white;
            font-size: 16px;
            @include display-center;
            padding: 0;
            &:hover{
                background-color: $primary;
            }
        }

    }
    
}